





h1 {
    color: crimson;
}
h2 {
    color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif
}
h3 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


    
